<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Amount</title>
</head>
<body>
    <!-- <%= JSON.stringify(id) %> -->
    <form action="/investment/<%= id %>/invest" method="post">
        <label for="amount">Enter Amount</label>
        <input type="text" name="amount" id="amount" placeholder="Rp.">
        <input type="submit" value="add">
    </form>
</body>
</html>